* {
  line-height: calc(1em + 0.5rem);
}

:root {
  /* colours */
  --clr-dark: #111827;
  --clr-dark2: #292e39;
  --clr-light: #ffffff;
  --clr-light2: #b2c4dd;
  --clr-gray: #d8dee9;
  --clr-gray2: #e5e9f0;


  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

@font-face {
  font-family: 'Rubik';
  src: url('~/assets/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-dark);

  font-family: 'Rubik';
}

img,
picture,
canvas,
video,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}


.btn {
  background-color: var(--clr-dark);
}
