/* global css utilities */


/* xs */
@media (min-width: 475px) {}

/* sm */
@media (min-width: 640px) {}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 1024px) {}

/* xl */
@media (min-width: 1280px) {}

/* 2xl */
@media (min-width: 1536px) {}

.strong {
  font-weight: bold;
  color: var(--clr-light);
  font-style: var(--size-sm);
}

.italic__text {
  font-style: italic;
  color: gray;
  font-size: var(--size-sm);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /*border: 1px solid red;*/
}


/* Media querry utilities */
/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {

  .container {
    max-width: 768px;
    padding-left: 8rem !important;
    padding-right: 8rem !important;
  }
}

/* lg */
@media (min-width: 1024px) {

  .container {
    padding-left: 15rem !important;
    padding-right: 15rem !important;
    max-width: 1024px;
  }

}

/* xl */
@media (min-width: 1280px) {

  .container {
    padding-left: 20rem !important;
    padding-right: 20rem !important;
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {

  .container {
    padding-left: 25rem !important;
    padding-right: 25rem !important;
    max-width: 1538px;
  }
}

/* button utilities */
.btn {
  display: inline-block;
  min-height: 2rem;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5em 1em;
  letter-spacing: -0.05em;
  text-decoration: none;
  transition: transform 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.primary {
  color: var(--clr-light);
  background: none;
}

.primary::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-gray);
  transition: width 0.3s ease;
}

.primary:hover::after {
  width: 100%;
}


.secondary {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

.secondary:hover {
  background-color: var(--clr-light2);
  color: var(--clr-dark);
}

.danger {
  background-color: red;
  color: var(--clr-light);
}

.text {
  color: var(--clr-light);
  background: none;
}

.disabled {
  background-color: #9fada7 !important;
  color: var(--clr-gray2);
}

.disabled:hover {
  cursor: not-allowed;
}
