/* global css utilities */


/* xs */
@media (min-width: 475px) {}

/* sm */
@media (min-width: 640px) {}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 1024px) {}

/* xl */
@media (min-width: 1280px) {}

/* 2xl */
@media (min-width: 1536px) {}

.btn {
  display: inline-block;
  min-height: 2rem;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5em 1em;
  letter-spacing: -0.05em;
  transition: transform 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid red;
}


/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }

}

/* xl */
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {

  .container {
    max-width: 1538px;
  }
}

.primary {
  color: var(--clr-light);
  background: none;
}


.primary:hover {
  text-decoration: underline;
}

.secondary {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

.danger {
  background-color: red;
  color: var(--clr-light);
}

.text {
  color: var(--clr-light);
  background: none;
}

.disabled {
  background-color: #9fada7 !important;
  color: var(--clr-gray2);
}

.disabled:hover {
  cursor: not-allowed;
}
