.blog {
  margin-bottom: var(--size-4xl) !important;
}

.blog__title {
  font-size: var(--size-xl);
  margin-bottom: 20px;
  padding-left: var(--size-sm);
  color: var(--clr-light);
}

.blog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: var(--size-4xl);
}

.blog__item {
  width: 100%;
}

.blog__card {
  background-color: #101623;
  border-radius: var(--size-lg);
  padding: var(--size-lg);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.blog__card:hover {
  transform: translateY(-5px);
}

.blog__link {
  font-size: 1.25rem;
  font-weight: bold;
  color: #66b3ff;
  text-decoration: none;
}

.blog__link:hover {
  text-decoration: underline;
}

.blog__description {
  color: #cccccc;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}



/* xs */
@media (min-width: 475px) {}

/* sm */
@media (min-width: 640px) {}

/* md */
@media (min-width: 768px) {
  .blog__list {
    flex-direction: row;
    gap: var(--size-3xl);
  }

}

/* lg */
@media (min-width: 1024px) {}

/* xl */
@media (min-width: 1280px) {}

/* 2xl */
@media (min-width: 1536px) {}
